In [215]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import random
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [216]:
dat = pd.read_excel('file:///Users/Apple/Documents/InsuranceComp/Round2_1_Dataset.xlsx')

In [217]:
dat.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-03-02 00:00:00,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [218]:
dat.columns

Index([u'Customer', u'State', u'Customer Lifetime Value', u'Response',
       u'Coverage', u'Education', u'Effective To Date', u'EmploymentStatus',
       u'Gender', u'Income', u'Location Code', u'Marital Status',
       u'Monthly Premium Auto', u'Months Since Last Claim',
       u'Months Since Policy Inception', u'Number of Open Complaints',
       u'Number of Policies', u'Policy Type', u'Policy', u'Renew Offer Type',
       u'Sales Channel', u'Total Claim Amount', u'Vehicle Class',
       u'Vehicle Size'],
      dtype='object')

In [219]:
dat.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
count,8294.000000,8293.000000,8293.000000,8293.000000,8293.000000,8293.000000,8293.000000,8293.000000
mean,7987.508310,37787.118654,93.189316,15.079465,48.136501,0.389485,2.965634,432.413355
std,6839.966044,30393.997287,34.498133,10.092616,27.832586,0.915243,2.390264,288.079674
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3982.202053,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,268.819985
50%,5789.601798,34220.000000,83.000000,14.000000,48.000000,0.000000,2.000000,384.000000
75%,8958.920189,62452.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.200000
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [220]:
dat.head(1)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize

In [221]:
target_col = ['Response']
cat_cols = ['Customer','State','Coverage', 'Education', 'Effective To Date', 'EmploymentStatus',
       'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class','Vehicle Size']
num_cols = list(set(list(dat.columns))-set(cat_cols)-set(target_col)-set(other))

In [222]:
dat.isnull().any()

Customer                         False
State                            False
Customer Lifetime Value          False
Response                         False
Coverage                         False
Education                        False
Effective To Date                False
EmploymentStatus                  True
Gender                            True
Income                            True
Location Code                     True
Marital Status                    True
Monthly Premium Auto              True
Months Since Last Claim           True
Months Since Policy Inception     True
Number of Open Complaints         True
Number of Policies                True
Policy Type                       True
Policy                            True
Renew Offer Type                  True
Sales Channel                     True
Total Claim Amount                True
Vehicle Class                     True
Vehicle Size                      True
dtype: bool

In [223]:
dat[num_cols] = dat[num_cols].fillna(dat[num_cols].median(),inplace=True)

In [224]:
dat[cat_cols] = dat[cat_cols].fillna(dat[cat_cols].max(), inplace=True)

In [225]:
dat.columns

Index([u'Customer', u'State', u'Customer Lifetime Value', u'Response',
       u'Coverage', u'Education', u'Effective To Date', u'EmploymentStatus',
       u'Gender', u'Income', u'Location Code', u'Marital Status',
       u'Monthly Premium Auto', u'Months Since Last Claim',
       u'Months Since Policy Inception', u'Number of Open Complaints',
       u'Number of Policies', u'Policy Type', u'Policy', u'Renew Offer Type',
       u'Sales Channel', u'Total Claim Amount', u'Vehicle Class',
       u'Vehicle Size'],
      dtype='object')

In [226]:
dat_new = dat

In [227]:
dat_new.drop(['Customer','Effective To Date'], axis=1, inplace = True)
dat.head()

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,Washington,2763.519279,No,Basic,Bachelor,Employed,F,56274,Suburban,Married,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,Arizona,6979.535903,No,Extended,Bachelor,Unemployed,F,0,Suburban,Single,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,Nevada,12887.431650,No,Premium,Bachelor,Employed,F,48767,Suburban,Married,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,California,7645.861827,No,Basic,Bachelor,Unemployed,M,0,Suburban,Married,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,Washington,2813.692575,No,Basic,Bachelor,Employed,M,43836,Rural,Single,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [228]:
target_col = ['Response']
cat_cols = ['State','Renew Offer Type',
       'Sales Channel', 'Vehicle Class','Vehicle Size','Coverage', 'Education','EmploymentStatus',
       'Gender', 'Location Code', 'Marital Status', 'Policy Type', 'Policy']
num_cols = list(set(list(dat_new.columns))-set(cat_cols)-set(target_col))

In [229]:
for var in cat_cols:
 number = LabelEncoder()
 dat_new[var] = number.fit_transform(dat_new[var].astype('str'))
    
dat_new["Response"] = number.fit_transform(dat_new["Response"].astype('str'))

In [231]:
dat_new.head(5)

,State,Customer Lifetime Value,Response,Coverage,Education,EmploymentStatus,Gender,Income,Location Code,Marital Status,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,4,2763.519279,0,0,0,1,0,56274,1,1,...,5,0,1,0,2,0,0,384.811147,5,1
1,0,6979.535903,0,1,0,4,0,0,1,2,...,42,0,8,1,5,2,0,1131.464935,0,1
2,2,12887.431650,0,2,0,1,0,48767,1,1,...,38,0,2,1,5,0,0,566.472247,5,1
3,1,7645.861827,0,0,0,4,1,0,1,1,...,65,0,7,0,1,0,2,529.881344,3,1
4,4,2813.692575,0,0,0,1,1,43836,0,2,...,44,0,1,1,3,0,0,138.130879,0,1

In [239]:
train = dat_new
train['is_train'] = np.random.uniform(0, 1, len(train)) <= 0.70
Train, Validate = train[train['is_train']==True], train[train['is_train']==False]

In [244]:
other_col = ['is_train']
features=list(set(list(dat_new.columns))-set(target_col)-set(other_col))

In [278]:
features

[u'Sales Channel',
 u'Education',
 u'EmploymentStatus',
 u'Vehicle Class',
 u'Vehicle Size',
 u'Gender',
 u'Monthly Premium Auto',
 u'Total Claim Amount',
 u'Number of Policies',
 u'Months Since Last Claim',
 u'Number of Open Complaints',
 u'Marital Status',
 u'Policy Type',
 u'State',
 u'Renew Offer Type',
 u'Coverage',
 u'Income',
 u'Policy',
 u'Location Code',
 u'Customer Lifetime Value',
 u'Months Since Policy Inception']

In [293]:
x_train = Train[list(features)].values
y_train = Train['Response'].values
x_validate = Validate[list(features)].values
y_validate = Validate['Response'].values

In [295]:
#random.seed(100)
rf = RandomForestClassifier(n_estimators=100)
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [296]:
rf.score(x_validate, y_validate)

0.99556630390971379